
.navbar {
  background-color: #FFFFFF;
  /* border-bottom: 3px solid #437F97; */
  height: 69px;
  width: 100vw;
  position: sticky;
  color:#090C14;

}


.navbar-nav {
  background-color: #FFFFFF;
  margin-left: 45px;
  color:#090C14;
}

.navbar-collapse {
  background-color: #FFFFFF;
  position: sticky;
  color:#090C14;
}

.navbar-toggler {
margin-right: 10px;
color:#090C14;
}

.nav-item  {
  width: 50%;
  background-color: #090C14 !important;
}

.nav {
  background-color: #090C14 !important;
}
