 
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Lato&display=swap");


html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.receipt-header{
  background-color:#0A0A0A !important;
height: 69px;

}
.outline{
  border: 0px solid #151414;
}
.logo{
  margin-top: 17px !important;
}

.active{
  background-color: #0A0A0A !important;
}

.sats-ico{
  width:75px;
  height:75px;
  margin-left: 15px;
  /* margin-top: -6px; */
}

.close{
  color: #8900A7 !important;

}
.bitcoin-ico{
  width:56px;
  height:56px;
}

.footer-copyright{
  font-size: 0.8rem;
}

.end-line {
  position: fixed;
  width: 100vw;
  height: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8900A7;
}

.hidden{
  display: none;
}

input {
  background-color: #0A0A0A !important;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 0px;
  border-bottom: 0px solid #dadada;     /* oranges! yey */
}
input[type=text]:focus{
  background-color: #0A0A0A !important;
  outline: none !important;
  border-bottom: 5px solid #8900A7;     /* oranges! yey */
}
input[type=password]:focus{
  background-color: #0A0A0A !important;

  outline: none !important;
  border-bottom: 5px solid #8900A7;     /* oranges! yey */
}
input {
  background-color: #0A0A0A !important;
  min-height: auto;
  padding-top: 6.28px;
  padding-bottom: 0.28px;
  font-size: 17px !important;
}
input {
  background-color: #0A0A0A !important;

  display: block;
  width: 100%;
  min-height: calc(1.6em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #696773;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}



.btn:hover {
  color: #8900A7 !important;
  border: 1px solid #8900A7 !important;
  border-radius: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  /* font-size:1rem; */
}
.btn-sm:hover {
  color: #8900A7 !important;
  border: 1px solid #8900A7 !important;
  border-radius: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-size:1rem;

}
.btn-block:hover {
  color: #8900A7 !important;
  border: 1px solid #8900A7 !important;
  border-radius: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  /* font-size:1rem; */

}
.btn-block:info {
  background-color:#0A0A0A !important;
  color: #8900A7 !important;
  border: 1px solid #8900A7 !important;
  border-radius: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

button {
  background-color:#0A0A0A !important;
  color: #D0C8CD;
  border: 1px solid #8900A7;
  border-radius: 0px !important;

}
.btn {
  background-color:#0A0A0A !important;
  color: #D0C8CD !important;
  border: 1px solid #8900A7;
  border-radius: 0px !important;
  height: 2.3rem;
  width: 6.9rem;
  margin: 0 auto;
  text-align: center;
}

.btn-md {
  background-color:#0A0A0A !important;
  color: #D0C8CD !important;
  border: 1px solid #8900A7;
  border-radius: 0px !important;
  height: 2.3rem;
  width: 9.0rem;
  margin: 0 auto;
  text-align: center;
}
.btn-block {
  background-color:#0A0A0A !important;
  color: #D0C8CD !important;
  border-radius: 0px !important;

}
.btn-info {
  background-color:#0A0A0A !important;
  color: #D0C8CD !important;
  border-radius: 0px !important;
  font-size:15px;


}



.th{
  color: #8900A7;
}

.stat{
  font-size:21px;
}


.stathead{
  font-size:15px;
  color: #4e6463;

}
/* .txstats{
  position: fixed;
} */

.btn-sm{
  color: #8900A7;
  background-color:#0A0A0A !important;
  border: 2px solid #8900A7 !important;
  height: 42px;
  width: 52px;
}

a{
  color: #8900A7 !important;
}

body {
  background-color: #0A0A0A;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23ecf2f7' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23d8e5f0' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23c1d7e8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23a7c7df' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%2388b7d7' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%2360a5cd' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%2348A9A6' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover; 
  max-width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/95/13/4757ebcead939ef.jpg'); */
  background-size: cover; 

                                                                                                                                                                                     color: #D0C8CD;
   font-family: 'Aldrich', sans-serif;
   color:#D0C8CD;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0px;

  outline: none !important;
  /* letter-spacing: 1px !important; */


}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}


.alt-back{
background-color: #D0C8CD  ;
}

.nickname{
  font-size:1.5rem;
}

.post_order{
  font-size:1.5rem;
}

.post_price{
  font-size:1rem;
}

.post_message{
  font-size:0.7rem;
}

.post_minmax{
  font-size:0.7rem;
}

.post_payment_method{
  font-size:0.7rem;
}
.post_networks{
  font-size:0.7rem;
}
.post_reference_percent{
  font-size:0.7rem;
}

.post_genesis{
  font-size:0.5rem;
}

.usename{
  font-size:1rem;
}

.contact_info{
  font-size:0.7rem;
}
.pubkey{
  font-size:0.5rem;
}
.trust_value{
  font-size:1.8rem;
}

.centerme {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.rightme {
  margin: 0 auto;
  text-align: right;
  display: block;
}


.txdate{
  font-size:19px;
}

.delete-color{
  color:#8f3b30;
}
.incoming-color{
  color:#30B0AA !important;
}
.warning-color{
  color:#d80c50dd !important;
}

.fa-trash-alt{
  color:#d80c50 !important;
}

.cold-color{
 color: #1F5673 !important; 
}
.liquid-color{
  color: #3AB795 !important;
}
/* 009FB7 */
.auth-ops{
  font-size:21px !important;

}

.border-light{
  border-width: 1px !important;
}
.p5{
  border-width: 0px !important;
}
.border{
  border: 1px solid #151414 !important;
}

.reg{
  font-family: 'Lato', sans-serif;

}



.navbar {
  background-color: #0A0A0A;
  /* border-bottom: 3px solid #437F97; */
  height: 69px;
  width: 100vw;
  position: sticky;
  color:#0A0A0A;

}

.active {
  background-color: #8900A7;

  color:#998d9c;

}

.navbar-nav {
  background-color: #0A0A0A;
  margin-left: 45px;
  color:#0A0A0A;
}

.navbar-collapse {
  background-color: #0A0A0A;
  position: sticky;
  color:#0A0A0A;
}

.navbar-toggler {
margin-right: 10px;
color:#0A0A0A;
}

.nav-item  {
  width: 50%;
  background-color: #0A0A0A !important;
}

.nav {
  background-color: #0A0A0A !important;
}

.nav-tabs:hover .nav-link:hover {
  background-color:  #151414 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.modal, .modal-dialog{
  background-color: #0A0A0A !important;
}


.modal-header{
  background-color: #0A0A0A !important;
}

.modal-footer, .modal-body{
  background-color:#0A0A0A !important;

}
.modal-title{
  color: #ebebeb !important;
}

.spinner-grow{
  color: #151414;
  border: 3px solid #8900A7 !important;
}

.post_select_input{
  background-color: #0A0A0A !important;
  color:#ebebeb;

  padding: 12px;
  border: 0px !important;
}

#serach_userlist{
  overflow: scroll;
}

input[type=checkbox] {
  font-size: 15px;
  color: #8900A7;
  height: 1.625em;
  width: 1.625em;
}

input[type=checkbox]:checked {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #0a0a0a !important;
  border-color: #8900A7 !important;
  text-align: center;
  line-height: 15px;
}

.form-check-input{
  color: #8900A7 !important;
  border: 0px;
  padding: 10px;
  height: 1.625em;
  width: 1.625em;
}
.form-check-label{
  color: #ebebeb !important;
  border: 0px;
  margin-top: 12px;

}

#found_userlist{
  height: 256px !important;
  overflow-y: scroll;
}
#selected_userlist{
  height: 256px !important;
  overflow-y: scroll;
}

.modal-body{
  height: 70vh !important;
  overflow-y: scroll;
  /* overflow: hidden; */
  /* margin: 0 auto;  */
}

.hovertext {
  position: relative;
  color: #fff !important;
  display: inline-block;
}

.hovertext:before {
  content: attr(value);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: transparent !important;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px; 
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}