 
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Lato&display=swap");

.receipt-header{
background-color:  #0A0A0A;
height: 69px;

}
.outline{
  border: 0px solid #0A0A0A;
}
.logo{
  margin-top: 17px !important;
}

.active{
  background-color: #EBEBEB !important;
}

.sats-ico {
  width:75px;
  height:75px;
  margin-left: 15px;
  /* margin-top: -10px; */
}

.sats-ico-main {
  width:15px;
  height:15px;
  /* margin-left: 15px; */
  /* margin-top: -10px; */
}

.bitcoin-ico{
  width:56px;
  height:56px;
}


.end-line {
  position: fixed;
  width: 100vw;
  height: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8900A7;
}

.hidden{
  display: none;
}

/* .input-group-text{
} */

input {
  background-color: transparent !important;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 0px;
  border-bottom: 0px solid #dadada;     /* oranges! yey */

}
input[type=text]:focus{
  background-color: transparent !important;
  outline: none !important;
  border-bottom: 2px solid #8900A7;     /* oranges! yey */
}
input[type=password]:focus{
  background-color: transparent !important;

  outline: none !important;
  border-bottom: 2px solid #8900A7;     /* oranges! yey */
}
input {
  min-height: auto;
  padding-top: 5.28px;
  padding-bottom: 3.28px;
}
input {
  background-color: transparent !important;

  display: block;
  width: 100%;
  min-height: calc(1.6em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #696773;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}



.btn:active {
  color: #8900A7 !important;
  border: 1px solid #8900A7 !important;
  border-radius: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  /* font-size:1rem; */
}


button {
  background-color:transparent !important;
  color: #0A0A0A;
  border: 1px solid #8900A7;
  border-radius: 0px !important;

}
.btn {
  background-color:transparent !important;
  color: #0A0A0A !important;
  border: 2px solid #8900A7;
  border-radius: 0px !important;
  height: 2.3rem;
  width: 6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;

}

.btn-lg {
  background-color:transparent !important;
  color: #0A0A0A !important;
  font-size: 0.7em;
  /* border: 0px; */
  border-bottom: 2px solid #8900A7 !important;
  border-radius: 0px !important;
  height: 2.7rem;
  /* width: 50%; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;

}

.btn-lg:active, .btn-lg:hover {
  border: 0px;
  border-bottom: 3px solid #8900A7 !important;

}


.delete_button{
  color: #0A0A0A !important;
  border: 1px solid #d80c50 !important;
}

.th{
  color: #8900A7;
}

.stat{
  font-size:21px;
}


.stathead{
  font-size:15px;
  color: #4e6463;

}
/* .txstats{
  position: fixed;
} */

.btn-sm{
  color: #8900A7;
  background-color: #0A0A0A;
  border: 2px solid #8900A7 !important;
  height: 32px;
  width: 69px;
  border-radius: 21px;
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

a{
  color: #8900A7 !important;
}

body {
  background-color: #EBEBEB;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e0dae3' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23d4c7da' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23c7b2d1' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23b99ac7' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23ab7ebd' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%239b59b2' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%238900A7' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover; 
  max-width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/95/13/4757ebcead939ef.jpg'); */
  background-size: cover; 

                                                                                                                                                                                     color: #0A0A0A;
   font-family: 'Aldrich', sans-serif;
   color:#0A0A0A;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* letter-spacing: 0.1em !important; */


}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}




.alt-back{
background-color: #0A0A0A  ;
}

.nickname{
  font-size:2.1rem;
}

.usename{
  font-size:1rem;
}
.post_nickname{
  font-size:1.4rem;
}
.post_message{
  font-size:0.8rem;
  word-wrap: break-word;
}

.contact_info{
  font-size:0.7rem;
  word-wrap: break-word !important;
}
.trust_value{
  font-size:1.8rem;
}

.centerme {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.rightme {
  margin: 0 auto;
  text-align: right;
  display: block;
}


.incoming-color{
  color:#30B0AA !important;
}
.warning-color{
  color:#d80c50 !important;
}
.cold-color{
 color: #1F5673 !important; 
}
.liquid-color{
  color: #3AB795 !important;
}
/* 009FB7 */


.border{
  border: 1px solid #82808b3d !important;
}

.reg{
  font-family: 'Lato', sans-serif;
}




.navbar, .navbar:active {
  background-color: #EBEBEB;
  /* border-bottom: 3px solid #437F97; */
  /* height: 69px;
  width: 100vw; */
  position: sticky;
  color:#EBEBEB;
}

.nav {
  background-color: #EBEBEB !important;
  /* margin-left: 45px; */
  color:#EBEBEB;
}


.navbar-nav, .navbar-nav:active {
  background-color: #EBEBEB;
  /* margin-left: 45px; */
  color:#EBEBEB;
}

.navbar-collapse, .navbar-collapse:active {
  background-color: #EBEBEB;
  position: sticky;
  color:#EBEBEB;
}

.navbar-toggler,.navbar-toggler:active {
/* margin-right: 10px; */
color:#EBEBEB;
}

.nav-item {
  /* width: 30% !important; */
  background-color: #EBEBEB !important;
}

.nav-item, .nav-link {
  background-color: #EBEBEB !important;
  color: #8900A7 !important;

}

.nav-link.active, .nav-link:active, .active {
  background-color: #EBEBEB !important;
  color: #8900A7 !important;

}

.nav {
  background-color: #EBEBEB !important;
}

.nav-tabs .navbar-nav > li > a:hover, .nav-tabs .navbar-nav > li > a:focus {
  background-color: #EBEBEB;
  color: #8900A7;
}

.modal-footer, .modal-body{
  background-color: #EBEBEB !important;

}
.modal-title{
  color: #0A0A0A !important;
}
.spinner-grow{
  color: #8900A7;
  border: 3px solid #0A0A0A !important;
}